<div class="valign-wrapper" style="margin-top: 2%">
  <div class="row" style="margin-left: 30%">
    <div class="col s12 m7 valign">
      <div class="card grey lighten-3">
        <div class="card-content">
          <div class="row center-align">
            <div class="col s12" style="padding: 1em;">
              <span class="black-text" style="font-size: 40px;">
                Você também quer aparecer aqui? poste algo com a hashtag:
              </span>
            </div>

            <div class="col s12" style="padding: 6em;">
              <p class="valign red-text" id="hashtag" style="font-weight: 800; font-size: 60px">
                <%= @event.tag.upcase! %>
              </p>
            </div>

            <div class="col s12" style="padding: 1em; margin-top: 10%">
              <p class="valign" id="hashtag" style="font-size: 120px">
                <i class="fa insta-color fa-instagram"></i>
                <i class="fa twitter-color fa-twitter"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
