<div class="valign-wrapper" style="height: 400px;">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s2 left">
          <%= image_tag('background2.png', class: 'responsive-img',
                        style: 'width: 240px; height: 140px;') %>
        </div>
        <div class="col s10 right">
          <blockquote>
            <h3 class="grey-text">
              This is an ex asd asdasdfasff blockasj
              <span class="teal-text">#carineeromiel</span> dfash gf asfasf asgf
              asjdf ja sgdfdf asjgdd. Gasddj  asf fasf asasfasjf sashf
              gahsfasf asgdquote tag.
            </h3>
          </blockquote>

          <p>
            <span class="blue-text flow-text">@brunoocasali</span> <span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
