<div class="container">
  <div class="row" style="margin-top: 15%">
    <div class="row">
      <div class="s12 valign-wrapper">
        <div class="col s2">
          <%= image_tag('yuna.jpg', class: 'circle responsive-img') %>
        </div>
        <div class="col s10 ">
          <blockquote>
            <p class="grey-text flow-text">
              This is an ex asd asdasdfasff blockasj
              <span class="teal-text">#carineeromiel</span> dfash gf asfasf asgf
              asjdf ja sgdfdf asjgdd. Gasddj  asf fasf asasfasjf sashf
              gahsfasf asgdquote tag.
            </p>
            <span class="blue-text flow-text">@brunoocasali</span>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 5%">
    </div>
    <div class="row">
      <div class="s12 valign-wrapper">
        <div class="col s6">
        <span class="flow-text">
          Você também quer aparecer aqui? <br />
          poste algo com a hashtag:
        </span>
        </div>
        <div class="col s6">
          <h1 class="red-text">#carineeromiel</h1>
        </div>
      </div>
    </div>
  </div>
</div>
