<h1 class="fs-display-5 display-block">Welcome</h1>
<p class="flow-text">Eu sou um texto de boas vindas muito mas muito legal!</p>

<p class="flow-text"><%= notice %></p>

<%= link_to 'Edit profile', edit_user_registration_path %>
<%= link_to t('devise.buttons.sign_out'), destroy_user_session_path %>
