<% if item.image? %>
  <div class="col s12 m6 l6">
    <p class="flow-text" id="text-<%= item.id %>"><%# truncate item.text, length: 200 %></p>
  </div>
  <div class="col s12 m6 l6">
    <p><img src="" id="image-<%= item.id %>" class="responsive-img"/> <%# image_tag(item.image_url(:big), class: 'responsive-img') %></p>
  </div>
<% else %>
  <div class="col s12 m12 l12">
    <div class="row valign-wrapper">
      <div class="col s1 valign hide-on-small-only">
        <img src="" id="avatar-<%= item.id %>" class="circle responsive-img icon-footer"/>
        <%# image_tag(item.author.avatar_url(:big_screen), class: 'circle responsive-img icon-footer') %>
      </div>
      <div class="col s11 valign">
        <p class="flow-text" id="text-<%= item.id %>"><%# item.text %></p>
      </div>
    </div>
  </div>
<% end %>
