<h4><%= tmp(Event) %></h4>

<br />

<ul class="collection white z-depth-1">
  <% if @events.each do |event| -%>
    <%= render 'item', event: event %>
  <% end.empty? %>
    <h5 class="red-text lighten-2 center"><%= t('views.events.no_items') %></h5>
  <% end %>
</ul>

<br />

<%= fab_to_new(new_event_path) %>
