<h4><%= tmp(Event) %></h4>

<br />

<ul class="collection">
  <% @events.each do |event| -%>
    <%= render 'item', event: event %>
  <% end -%>
</ul>

<br class="" />

<%= fab_to_new(new_event_path) %>
