GMAIL_DOMAIN=gmail.com
GMAIL_USERNAME=your_gmail_name
GMAIL_PASSWORD=your_passwd

TWITTER_CONSUMER_KEY=your_consumer_key
TWITTER_CONSUMER_SECRET=your_consumer_secret
TWITTER_ACCESS_TOKEN=your_access_token
TWITTER_ACCESS_SECRET=your_access_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_ENHANCE_IMAGE_TAG=true_or_false
