GMAIL_DOMAIN=gmail.com
GMAIL_USERNAME=your_gmail_name
GMAIL_PASSWORD=your_passwd

TWITTER_CONSUMER_KEY=your_consumer_key
TWITTER_CONSUMER_SECRET=your_consumer_secret
TWITTER_ACCESS_TOKEN=your_access_token
TWITTER_ACCESS_SECRET=your_access_secret

DROPBOX_APP_KEY=your_app_key
DROPBOX_APP_SECRET=your_app_secret
DROPBOX_ACCESS_TOKEN=your_access_token
DROPBOX_ACCESS_TOKEN_SECRET=your_access_token_secret
DROPBOX_USER_ID=your_user_id
