nav ul a,
nav .brand-logo {
    color: #444;
}

.icon-footer{
    margin: 5px;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.max-width{
    width: 100% !important;
}


@media screen and (max-height: 2080px){
    .min-body{
        min-height: 60em;
    }
}

@media screen and (max-height: 1024px){
    .min-body{
        min-height: 40em;
    }
}


.fab-position{
    bottom: 45px;
    right: 24px;
}
