<div class="col l6 s12 m6">
  <%= link_to '#', class: 'black-text' do %>
    <div class="card-panel">
      <div class="valign-wrapper">
        <i class="mdi-av-play-arrow large"></i>
        <h5 class="center-align center-block"><%= t('views.dashboard.rolling_now') %></h5>
      </div>
    </div>
  <% end %>
</div>

<div class="col l6 s12 m6">
  <%= link_to monitoring_index_path, class: 'black-text' do %>
    <div class="card-panel yellow">
      <div class="valign-wrapper">
        <i class="mdi-content-filter-list large"></i>
        <h5 class="center-align center-block"><%= t('views.dashboard.monitoring') %></h5>
      </div>
    </div>
  <% end %>
</div>
